.clock {
	align-items: center;
	background-color: $clock-bg-color;
	border: 2px solid $clock-border-color;
	border-radius: 50%;
	display: flex;
	height: 14rem;
	justify-content: center;
	margin: 4rem auto;
	width: 14rem;
}
.clock-text {
	color: $clock-text-color;
	font-size: 2.25rem;
	font-weight:300;
}